@keyframes slideUpDown {
  0% {
    transform: translateY(-1%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2%);
  }
}

.popup-animation {
  animation: slideUpDown 1s infinite;
}